html {
    box-sizing: content-box;
}

body {
    padding:0;
    margin:0;
}

.container {
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    flex: 1 2 30%;
}

.image-container img {
   width: 100%;
}

.sbox {
    color:white;
    font-size: 30px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
}

.box {
    color:white;
    font-size: 30px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding: 20px;
}

.container2 {
    display: flex;
}


.box1 { 
    background:#1abc9c;
    flex:2 1 500px;
    display: flex;
    margin: 0 5px;
    justify-content: center;
}

.box2 { 
    font-size: 15px;
    background:#3498db;
    flex: 1 1 200px;
    padding: 0;
}

.box3 { 
    background:#9b59b6;
    font-size: 15px;
    padding: 0;
}

.box4 {
    background:#4b39c1;
    font-size: 20px;
    padding: 0;
    flex: 2 2 300px;

}

@media all and (max-width: 1280px) {
    .image-container {
        flex: 1 2 40%;  
   }

   .box1 {
    font-size: 20px;
   }

}